.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid lightgray;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin-left: 20px;
    transform: translateZ(0);
    position: relative;
    z-index: 100;
    overflow: hidden;
}
.sidebar_header{
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    flex: none;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #111;
    width: 100%;
    height: 90px;
}
._1X8rk{
    display: inline-flex;
    flex-grow: 1;
}
.sidebar_headerRight{
    display: flex;
    flex: none;
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.sidebar_headerRight> .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar_search{
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 50px;
    flex: none;
    z-index: 100;
    box-sizing: border-box;
    height: 49px;
    padding: 10px;
}
.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    transition: box-shadow .18s ease-out,background-color .25s ease-out;
    /* position: absolute; */
    z-index: 100;
}
.sidebar_searchContainer>input{
    border: none;
    margin-left: 10px;
    outline: none;
    vertical-align: initial;
    flex: 1;
    border-radius: 0 20px 20px 0;
}
.sidebar_searchContainer>input[type="text"]{
    font-size: 16px;
}
.sidebar_searchContainer>.MuiSvgIcon-root{
    color: #111;
    margin-left: 20px;
}
.sidebar_chats{
    background-color: #f7f7f7;
    flex: 1;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 50px;
    z-index: 1;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
