.navChat{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 15px;
    padding-top: 30px;
    /* background: transparent; */
}
.navChat .nav_block img{
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
    margin-left: 15px;
}
.nav_blocks{
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    align-items: center;
    padding-top: 5px;
    color: #808080;
    border-left: 1px solid #111;
}
.nav_blocks1{
    padding-bottom: 15px;
}