* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* background: #edc0bf; */
  /* background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%); */
  /* background:
    linear-gradient(322deg, 
      #ba4aff, rgba(#ba4aff, 0) 70%),
    linear-gradient(178deg,
      #008aff, rgba(#008aff, 0) 70%),
    linear-gradient(24deg,
      #00ffc6, rgba(#00ffc6, 0) 35%); */
      /* background: url("../../images/wallpaperflare.com_wallpaper.jpg"); */
      background: url("https://cdn.wallpaperhub.app/cloudcache/4/4/7/5/e/7/4475e73c885921925f61fcf123c7c8c1f93e1c0c.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
}
.container_body {
  display: flex;
  background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  border-radius: 15px;
  width: 90vw;
  height: 100vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0);
  margin: auto;
  min-height: 80vh;
  padding-left: 0;
}
.nav_blocks {
  display: flex;
  flex-direction: column;
  border: none;
}
