*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #f0f0f0;
    display: grid;
    place-items: center;
    height: 100vh;
}
.container_body{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    width: 90vw;
    height: 100vh;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0);
    margin: auto;
    min-height: 80vh;
    padding-left: 0;
}
.nav_blocks{
    display: flex;
    flex-direction: column;
    border: none;
}