.messages {
  display: flex;
  position: relative;
  z-index: 100;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  transform-origin: left top;
}
.chat_header {
  padding: 10px 16px;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
  height: 59px;
  display: flex;
  background: #F2F6F7;
  border-radius: 20px 20px 0 0;
  flex: 0.2;
  align-items: center;
  border-bottom: 1px solid gray;
}
.chat_headerInfo {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
  cursor: pointer;
}
.chat_headerInfo h2 {
  font-size: 16px;
  margin-bottom: 3px;
}
.chat_headerInfo > p {
  font-size: 12px;
  color: gray;
  min-width: 100px;
}
.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  align-items: center;
  margin-left: 20px;
  flex: none;
}
.chat_headerRight > .MuiSvgIcon-root {
  position: relative;
  flex: none;
  height: 100%;
  margin-left: 0;
}
.chat_body {
  z-index: 1;
  position: relative;
  flex: 1 1 0;
  order: 2;
}
._33LGR {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: background 0.3s ease-out 0.1s;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
._2AL2u {
  flex: 1 1 auto;
  min-height: 12px;
}
.y8WcF {
  padding-left: 0;
  flex: 0 0 auto;
  transition: padding-left 0.3s cubic-bezier(0.69, 0, 0.79, 0.14);
  padding-bottom: 8px;
}
.chat_name {
  position: absolute;
  top: 0px;
  font-weight: 800;
  font-size: xx-small;
}
.chat_message {
  position: relative;
  font-size: 14px;
  padding: 10px;
  border-radius: 7.5px;
  width: fit-content;
  background-color: #ffffff;
  top: 0;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 60%;
}
.chat_timestamps {
  margin-left: 10px;
  font-size: xx-small;
  font-weight: 600;
}
.chat_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
  margin-right: 15px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border-top-right-radius: 0;
}
.chat_footer {
  background: #f0f0f0;
  padding: 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  flex: none;
  order: 3;
  width: 100%;
  display: block;
}
.chat_footer1 {
  padding-right: 17px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.chat_footer2 {
  display: flex;
  align-items: flex-end;
}
.chat_footer2 > .MuiSvgIcon-root {
  padding: 5px 10px;
  margin-right: -10px;
}
.chat_footer2 .meInput {
  display: flex;
  flex: 1;
  align-items: flex-end;
  min-width: 0;
}
.chat_footer2 .meInput > form {
  flex: 1;
  display: flex;
}
.chat_footer2 .meInput > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 12px;
  border: none;
  outline: none;
}
.chat_footer2 .meInput > form > input[type="text"] {
  font-size: 16px;
}
.chat_footer2 .meInput > form > input[type="placeholder"] {
  font-size: 16px;
}
.chat_footer2 .meInput > form > button {
  display: none;
  position: fixed;
}
.chat_footer2 > .MuiSvgIcon-root {
  cursor: pointer;
  color: gray;
}
