@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}
main{
    background: #fff;
    transition: 5s;
}
.container_aboutco{
    height: auto;
    min-height: auto;
    padding-top: 50px;
    position: relative;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container_aboutco-image img.first_svg, .container_aboutco img.first_svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
}
.first_svg{
    z-index: 0;
}
img{
    vertical-align: middle;
    width: 100vw;
}
.container_aboutco .header_main, .container_aboutco-image .header_main{
    width: 100%!important;
    z-index: 1;
    color: #fff;
}
.header_child1:not(.alignfull)>.wp-block-group__inner-container{
    padding: 0 1rem;
    margin: 0 auto;
}
.wp-block-columns{
    flex-wrap: wrap;
    margin: 0 -1rem;
    display: flex;
    box-sizing: border-box;
}
.wp-block-columns .wp-block-column{
    padding: 0 1rem;
    margin-right: 0;
}
.mb-40{
    margin-bottom: 2.5rem!important;
}
.wp-block-column{
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}
.container_aboutco h2:not(.has-text-color){
    color: inherit;
}
.has-xlarge-font-size{
    font-weight: 700;
}
.has-text-align-center{
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
strong{
    font-weight: bold;
}
.wp-block-columns .wp-block-column{
    padding: 0 1rem;
    margin-right: 0;
}
.container_aboutco p:not(.has-text-color){
    color: inherit;
}
.mt-0{
    margin-top: 0!important;
}
.has-medium-font-size{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.33;
    letter-spacing: .07px;
}
.has-text-align-center{
    text-align: center;
}
p{
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mb-40{
    margin-bottom: 2.5rem!important;
}
.wp-block-columns{
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.wp-block-columns .wp-block-column{
    padding: 0 1rem;
    margin-left: 0;
    margin-right: 0;
}
:root .has-white-background-color{
    background-color: #fff;
}
.rounded-24{
    border-radius: 24px!important;
}
.container_aboutco.has-background-dim:not(.has-background-gradient):before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 26px!important;
}
.container_aboutco.rounded-24::before{
    content: "";
    background-color: inherit;
}
.container_aboutco .wp-block-cover__inner-container{
    width: 100%!important;
}
.wp-block-cover.has-background-dim:before {
    content: "";
    background-color: inherit;
}
.container_aboutco .header_main{
    z-index: 1;
    color: #fff;
}
.wp-block-columns .wp-block-column{
    padding: 0 1rem;
    margin-right: 0;
}
.has-xlarge-font-size{
    font-size: 3.5rem;
    line-height: 1.14;
    letter-spacing: .19px;
}
body.top-bar main{
    padding-top: 96px;
}
.header_child1:not(.alignfull)>.wp-block-group__inner-container{
    width: calc(100%-48px);
    max-width: 1200px;
    padding: 0px 1rem;
    margin: 0px auto;
}
.wp-block-columns {
    flex-wrap: wrap;
    margin: 0px -1rem;
}
.md\:pt-64, .md\:py-64{
        padding-top: 4rem!important;
    }
.md\:col-8{
    flex-basis: 66.66667%!important;
    max-width: 66.66667%!important;
}
.md\:offset-2{
    margin-left: 16.66667%!important;
}
.wp-block-column{
    flex-grow: 1;
}.md\:col-9{
    flex-basis: 75%!important;
    max-width: 75!important;
}
.md\:col-10{
    flex-basis: 83.33333%!important;
    max-width: 83.33333%!important;
}
.md\:offset-1{
    margin-right: 8.33333%!important;
}
.md\:mb-144{
    margin-bottom: 9rem !important;
}
.md\:rounded-50{
    border-radius: 50px !important;
}
figure.md\:rounded-50 > img{
    border-radius: 50px !important;
}
.wp-block-image img {
    height: auto;
    max-width: 100%;
    width: 100%;
    aspect-ratio: auto 1024/620;
}

#anim{
    max-width: 800px;
    margin: 0 auto;
}
    .md\:mt-64{
        margin-top: 4rem!important;
    }
    .md\:mb-32{
        margin-bottom: 0rem!important;
    }
.has-gray-600-color{
    color: #263238;
}
.has-large-3-font-size{
    font-size: 3rem;
    line-height: 1.17;
    letter-spacing: .16px;
    font-weight: 700;
}
.wp-block-columns .wp-block-column{
    padding: 0 1rem;
    margin-right: 0;
}
.md\:mb-40{
    margin-bottom: 2.5rem!important;
}
.md\:col-10{
    flex-basis: 83.33333%!important;
    max-width: 83.33333%!important;
}
.md\:offset-1{
    margin-left: 8.33333%!important;
}
.has-regular-font-size, p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .06px;
    margin-top: 16px;
}
.wp-block-column{
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}
.md\:mt-64{
    margin-top: 0rem!important;
}
.planet{
    display: grid;
    place-items: center;
}
.wp-block-columns .texts{
    color: #111;
    margin-right: 0px;
    padding: 0px 1rem;
}
.md\:mb-24{
    margin-bottom: 1.5rem !important;
}
.has-large-3-font-size{
    font-size: 3rem;
    line-height: 1.17;
    letter-spacing: 0.16px;
    font-weight: 700;
}
.has-text-align-center {
    text-align: center;
}

.founder_container{
    background-color: rgb(38, 50, 56);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 70vh;
    max-height: 100vh;
    width: 100%;
    max-width: 1200px;
    border-radius: 40px;
    align-items: center;
}
.img_fig{
    position: relative;
    padding-left: 32px;
    padding-right: 20px;
    margin-bottom: 0px;
}
figure{
    display: block;
    margin-block-end: 1em;
}
.img_fig>img{
    border-radius: 40px!important;
}

.name_heading{
    margin-top: 1.5rem !important;
    font-size: 2rem;
    line-height: 1.33;
    letter-spacing: 0.02px;
    font-weight: 400;
}

