@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 50px;
    padding-bottom: 10px;
    background: #f8f6f6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container_footer .sec{
    margin-right: 30px;
}
footer .container_footer .sec.aboutFoot{
    width: 40%;
}
footer .container_footer h2{
    position: relative;
    color: #111;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container_footer h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #111;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.fa{
    color: #fff;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #111;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #111;
}
.contact{
    width: calc(35%-60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    align-items: center;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 8px;
}
.contact .info li span:nth-child(3){
    margin-left: 10px;
}   
.contact .info li span{
    color: #111;
    margin-right: 10px;
}
.contact .info li a{
    color: #111;
    text-decoration: none;
}
.contact .info li a:hover{
    font-weight: 600;
}
.copyrightText{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    content: '';
    position: relative;
    width: 50%;
    border-top : 1px solid #323f45; 
    font-size: 0.8rem;
    color: #323f45;
    font-family: "Roboto",sans-serif;
    padding-top: 10px;
}
#underline {
    position: relative;
  }
  #underline:hover{
      font-weight: bolder;
  }
  #underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.2px;
    bottom: 0;
    left: 0;
    background-color: #111;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  #underline:hover:before {
    visibility: visible;
    width: 100%;
    font-weight: bolder;
  }

  @media (max-width:991px) {
      footer{
          padding: 40px;
          padding-bottom: 0px;
      }
      footer .container_footer{
          flex-direction: column;
      }
      footer .container_footer .sec{
          margin-right: 0;
          margin-bottom: 40px;
      }
      footer .container_footer .sec.sec.aboutFoot,.quickLinks,.contact{
        width: 100%;
      }
      .copyrightText{
          padding: 8px;
      }
  }