.ride_booking{
    display: flex;
    flex-direction: column;
}
.ride_headPr{
    flex-wrap: nowrap;
    display: flex;
}
.ride_heading{
    line-height: 52px;
    font-size: 30px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 50px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0;
    color: currentColor;
    width: 100%;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ride_paraPr{
    /* margin-top: 24px; */
    direction: ltr;
    color: #111;
    visibility: visible;
    -webkit-box-direction: normal;
    font-family: sans-serif;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.ride_paraPr .ride_p{
    /* margin-top: 18px; */
    margin-bottom: 18px;
    letter-spacing: 0;
    color: currentColor;
    font-weight: normal;
    line-height: 24px;
    font-size : 16px;
    margin-left: 50px;
}
.secIntro_buttonPr .secIntro_button .ride_b{
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 18px;
    padding-top: 18px;
    color: #fff;
    background-color: #111;
    font-size: 16px;
    box-shadow: none;
    flex-direction: row;
    text-decoration: none;
    line-height: 100px;
    font-weight: 600;
    width:100%;
    margin-left: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
}
.contact{
    margin-left: 50px;
}
.contact a{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #111;
}
.contact a span{
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
}